<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dotlinked_proyecto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity android:name=".claims.ClaimDetailActivity">

        </activity>
        <activity android:name=".classEvent.EventDetailActivity">

        </activity>
        <activity android:name=".classEvent.AddNoteActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.login.AccessActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".classEvent.EventosActivity" />
        <activity
            android:name=".activities.login.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.BaseActivity"
            android:parentActivityName=".activities.login.AccessActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.login.AccessActivity" />
        </activity>
        <activity android:name=".claims.AddNewClaimActivity" />
    </application>

</manifest>